mixin greet(name='みやこ')
  p #{name}さん こんにちは!

mixin head(page_title='ページ名',page_desc='ページ詳細',page_slug='')
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    block title
    title #{page_title}
    block description
    meta(name="description", content=page_desc)
    block og:title
    meta(property="og:title", content=page_title)
    block og:type
    meta(property="og:type", content="website")
    block og:url
    meta(property="og:url", content=site_url+page_slug)
    block og:image
    meta(property="og:image", content=site_url+'og_image.png' )
    block og:site-name
    meta(property="og:site_name", content=site_title)
    block og:desc
    meta(property="og:description", content=page_desc)
    block og:app_id
    meta(property="fb:app_id", content="任意のID")
    block style
    link(rel="stylesheet",href="node_modules/normalize.css/normalize.css")
    link(rel="stylesheet",href="css/style.css")

mixin header(site_name='サイト名')
  header.header
    .header_inner.contents-inner
      .header_txt-link
        img.header_txt-link_ico(src="img/header_arrow.svg")
        |
        a(href="https://ayaoriko.com") ayaoriko.com
      .header_logo-block
        a.header_logo-block_ico.ico_twitter(href="https://twitter.com/ayaoriko")
          img(src="img/ico-twitter.png")
        a.header_logo-block_ico.ico_facebook(href="#")
          img(src="img/ico-facebook.png")

mixin footer(site_name='サイト名')
  footer.footer
    .footer-inner.contents-inner
      small copyright 2018 #{site_name}